.header {
  height: 4rem;
  padding: 0;
  border-bottom: 1px solid #ccc;
  background-color: #fff;
  overflow: hidden;
  &__title {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    height: 100%;
  }
  &__logo {
    margin-bottom: 0.4rem;
    color: #047af0;
    font-size: 2.5rem;
  }
  &__text {
    padding-left: 0.3rem;
    margin-bottom: 0.4rem;
    font-size: 1.2rem;
    color: #999;
  }
}
.menu {
  line-height: 4rem;
  &-item__text {
    font-size: 1.5rem;
  }
}
