.header {
	height: auto;
	padding: 0;
	border-bottom: 1px solid #ccc;
	background-color: #fff;
	overflow: hidden;
}
.header__title {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	height: 100%;
}
.header__logo {
	margin-bottom: 0.4rem;
	color: #047af0;
	font-size: 1.6rem;
}
.header__text {
	padding-left: 0.3rem;
	margin-bottom: 0.4rem;
	font-size: 0.8rem;
	color: #999;
}
.menu-item__text {
	font-size: 0.85rem;
}
.menu {
	line-height: 2.6rem;
}
