.comm__main {
	margin-top: 0.5rem;
}

.comm__left {
	padding: 0.3rem;
	border-radius: 0.3rem;
	border-bottom: 1px solid #eee;
	background-color: #fff;
}

.comm__right {
	margin-left: 0.5rem;
	padding: 0.3rem;
	border-radius: 0.3rem;
	border-bottom: 1px solid #eee;
	background-color: #fff;
}
