.author__container {
	text-align: center;
	padding: 1rem;
}
.author__container div {
	margin-bottom: 1rem;
}
.author__introduction {
	font-size: 0.8rem;
	color: #999;
}
.account__icon {
	background-color: #fff;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}
