.bread__container {
  padding: 0.5rem;
  border-bottom: 1px solid #eee;
  border-radius: 0.3rem;
  background-color: #e1f0ff;
}
.list__title {
  font-size: 1.3rem;
  color: #1e90ff;
  padding: 0 0.5rem;
}
.list__context {
  color: #777;
  padding: 0.5rem;
}
